@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.get-started-instructions .prose p:not(.not-prose) {
  font-weight: 600;
  margin-bottom: .65rem !important;
}

.get-started-instructions .prose pre {
  margin-top: .65rem !important;
}

.get-started-instructions code {
  font-weight: 600;
}